
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:sec="http://www.w3.org/1999/xhtml/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>JSP Page</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/ds/menu :: menu"></div>
	<div class="container">
		<div sec:authorize="isAuthenticated()">
			Welcome <b> <span sec:authentication="name">UserName</span></b>

			<span sec:authentication="principal.authorities">Roles</span>

			<form th:action ="@{/logout}" mthod ="post">
				<input type="submit" value="Logout">
			</form>
		</div>
		<h2>DANH SÁCH KẾT QUẢ</h2>
		<p>
			<a sec:authorize="hasAnyAuthority('ADMIN')"  class="btn btn-primary" href="/nhap-diem">Nhập Điểm  Sinh Viên</a>
		</p>
		
		<label>Tìm điểm sinh viên </label>
		<form action="/search-diem-sv" method="post">
			<input type="text" placeholder="Search.." name="maSV">
			<button type="submit">
				<i class="fa fa-search"></i>
			</button>
		</form>
		<p style="color: red" th:text="${ERROR}"></p>
		
		
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Mã kết quả</th>
					<th>Tên SinhVien</th>
					<th>Tên Môn Học</th>
					<th>Điểm</th>
					<th sec:authorize="hasAnyAuthority('ADMIN')">Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${ketqua}">
					<td th:text=${item.id}></td>
					<td th:text=${item.sinhVien.tenSV}></td>
					<td th:text=${item.monHoc.tenMH} ></td>
					<td th:text=${item.diemThi}></td>
	
					<td sec:authorize="hasAnyAuthority('ADMIN')"><a class="btn btn-primary btn-sm" th:href="@{'/kq/edit/'+ ${item.id}}">Sửa</a>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<a class="btn btn-danger btn-sm" th:href="@{'/kq/delete/'+ ${item.id}}">Xóa</a>
					</td>
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>
