
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>thống kê điểm thi</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/ds/menu :: menu"></div>
	<div class="container">
		<h2>THỐNG KÊ ĐIỂM TRUNG BÌNH CỦA TỪNG SINH VIÊN</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>TÊN SINH VIÊN</th>
					<th>ĐIỂM TỔNG KẾT</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${avgsv}">
					<td th:text=${item.tenSV}></td>
					<td th:text=${item.diemThi}></td>
					
				
				</tr>

			</tbody>
		</table>
		
		<h2>THỐNG KÊ ĐIỂM THI</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Điểm Thi</th>
					<th>Số lượng</th>
					
				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${tkdiem}">
					<td th:text=${item.diemThi}></td>
					<td th:text=${item.soLuong}></td>
					
				
				</tr>

			</tbody>
		</table>
	</div>
</body>
</html>
