
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Thống kê sinh viên của khoa</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div th:replace="/ds/menu :: menu"></div>
	<div class="container">
		<h2>THỐNG KÊ LỚP TRONG KHOA</h2>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tên Khoa</th>
					<th>Số lượng Lớp</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${tklopkhoa}">
					<td th:text=${item.tenKhoa}></td>
					<td th:text=${item.soLuong}></td>
				</tr>

			</tbody>
		</table>
		<h2>THỐNG KÊ SINH VIÊN KHOA</h2>

		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Tên Khoa</th>
					<th>Số lượng sinh viên</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="item: ${tkkhoa}">
					<td th:text=${item.tenKhoa}></td>
					<td th:text=${item.soLuong}></td>
				</tr>

			</tbody>
		</table>

	</div>
</body>
</html>
