<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Trang Đăng ký</title>
</head>
<body>
<div th:replace="/ds/menu :: menu"></div>
	<div class="container" style="margin-top: 10px;">
		<div class="row"
			style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
			<div class="col-sm-12">

				<h2>Đăng Ký</h2>
				<form th:action="@{/monhoc-luuthem}" th:object="${monhocdto}" method="post">
					<div class="form-group">
						<label>Mã Môn Học</label> <input type="text" th:field="*{maMH}"
							class="form-control">
					</div>
					<div class="form-group">
						<label>Tên Môn Học</label> <input type="text"
							th:field="*{tenMH}" class="form-control">
					
					</div>
					<div class="form-group">
						<label>Số tiết</label> <input type="text"
							th:field="*{soTiet}" class="form-control">
					
					
					<button type="submit" class="btn btn-primary">Lưu</button>
					<button type="reset" class="btn btn-primary">Hủy Bỏ</button>
					<a class="btn btn-primary" href="/ds-nhan-vien">Hiển thị danh
						sách</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>

