<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Trang Đăng ký</title>
</head>
<body>
<div th:replace="/ds/menu :: menu"></div>
	<div class="container" style="margin-top: 10px;">
		<div class="row"
			style="border: 1px darkgrey solid; border-radius: 10px; width: 50%; margin: 0 auto; padding: 20px;">
			<div class="col-sm-12">

				<h2>Đăng Ký</h2>
				<form th:action="@{/luusv}"
					  th:object="${sinhviendto}" method="post"
					  enctype="multipart/form-data"
				>
					<div class="form-group">
						<label>Mã Sinh Viên</label> <input type="text" th:field="*{maSV}"
							class="form-control">
					</div>
					<div class="form-group">
						<label>Tên Sinh Viên</label> <input type="text"
							th:field="*{tenSV}" class="form-control">
					<div class="form-group">
						<label>Giới Tính</label>
							<div class="radio">
								<!--value = 1 => Nam| 0 =>Nu -->
								<label class="checkbox-inline"> <input type="radio"
								th:field="*{gioiTinh}" checked="checked"
									name="gioitinh" value="1" id="gioitinh1">Nam
								</label> <label class="checkbox-inline"> <input type="radio"
									th:field="*{gioiTinh}" name="gioitinh" checked="checked"
									value="0" id="gioitinh2">Nữ
								</label>
							</div>
					</div>
					</div>
					<div class="form-group">
						<label>Ngày Sinh</label> <input type="text"
							th:field="*{ngaySinh}" class="form-control">
					</div>
					<div class="form-group">
						<label>Image</label> <input type="file" name="fileImage"
													accept="image/png, image/jpeg"
													id ="fileImage"
							class="form-control">
						<p>
							<img id="thumbnail" alt="Image SinhVien" />
						</p>
					</div>
					<div class="form-group">
						<label>Quê quán</label> <input type="text" th:field="*{queQuan} "
							class="form-control">
					</div>
					<br> Lớp: <select th:field="*{maLop}">
						<option th:each="lop: ${lops}"
							th:value="${lop.maLop}" th:text="${lop.tenLop}"></option>
					</select> <br>

					<button type="submit" class="btn btn-primary">Lưu</button>
					
					<button type="reset" class="btn btn-primary">Hủy Bỏ</button>
					
					<a class="btn btn-primary" href="/ds-nhan-vien">Hiển thị danh sách</a>
				</form>
			</div>
		</div>
	</div>

<!-- query show anh-->
<script type="text/javascript">

	$(document).ready(function (){
		$('#fileImage').change(function () {
			showImageThumbnail(this);
		})
	});

	function showImageThumbnail(fileInput) {
		file =fileInput.files[0];
		reader =new FileReader();

		reader.onload =function (e) {
			$('#thumbnail').attr('src',e.target.result);
		}
		reader.readAsDataURL(file);
	}
</script>
</body>
</html>

